<!--The ng-controller directive tells Angular the scope of the controller. 
    In this case, the SearchCtrl is given the scope of the <div> element where it is called. 
    We then use SearchCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Product Search
            <small>Search</small>
        </h1>
    </div>
    <br/>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="prodName" class="form-control" type="text"
                   name="prodName"
                   ng-model = "ctrl.searchString"
                   size="50"
                   placeholder="Enter product details">
        </div>

        <div class="form-group">
        <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid" 
        ng-click="ctrl.searchForProduct()">
        Search Item
      </button>
      </div>



    </form>






    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Barcode No.</th>
        <th>Brand Name</th>
        <th>Product Name</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="prod in ctrl.grocery">
        <td>{{prod.id }}</td>
        <td><img src="http://www.barcodes4.me/barcode/c128a/{{prod.upc12}}.png?IsTextDrawn=1" style="width: 120px;"></td>
        <td>{{prod.brand }}</td>
        <td>{{prod.name }}</td>
        
      </tr>
    </tbody>
  </table>
</div>
